<div id="img-cont" class="page">
    <div id="slider">
        <img class="logo" alt="leftIcon" src="/svg/arrow-left-circle-line.svg" alt="">

        <!-- Images -->
        <div class="imgFrames">1</div>
        <div class="imgFrames">2</div>
        <div class="imgFrames">3</div>
        <div class="imgFrames">4</div>
        <div class="imgFrames">5</div>
        <div class="imgFrames">6</div>
        <div class="imgFrames">7</div>
        <div class="imgFrames">8</div>
        <div class="imgFrames">9</div>
        <div class="imgFrames">10</div>


        <img class="logo" alt="rightIcon" src="/svg/arrow-right-circle-line.svg" alt="">

    </div>
</div>