<div id="todoCont" (loadeddata)="inpData='ijh'" >
  <div id="todoNav">
    <div id="primary">
      <!-- Primary -->
      <input
        autocomplete="off"
        [(ngModel)]="inpData"
        type="text"
        placeholder="Enter Task..."
        name="task_name"
        
      />
      <button  (click)="addTask()">Add Task</button>
      <div
        (click)="isSecNavVisible = !isSecNavVisible"
        title="Show secondary nav"
        id="optionBtn"
      >
        (●'◡'●)
      </div>
    </div>
    <div *ngIf="isSecNavVisible" id="secondary">
      <!-- Secondry -->
      <div (click)="delAllTask()" class="option">Delete All Task</div>
      <div
        (click)="saveTaskToLocalStorage()"
        class="option"
        title="Save task to Local"
      >
        Save All Task
      </div>
      <div (click)="loadTask()" class="option" title="Load task from Local">
        Load Task
      </div>
    </div>
  </div>

  <div  id="todoBody" *ngIf="toDoDataArray.length !== 0 ">
    <div
      class="task {{ toDo.taskClassName }}" 
      *ngFor="let toDo of toDoDataArray"
    >
      <img
        (click)="completeTask(toDo.name)"
        *ngIf="!toDo.isCompleted"
        [src]="toDoStatusIcon"
        alt="todoFalse"
      />
      <img *ngIf="toDo.isCompleted" src="svg/todoTrue.svg" alt="todoFalse" />
      {{ toDo.name }}
    </div>
  </div>
</div>

<!-- (click)="completeTask(toDo)" -->
