*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: aliceblue;
}
body{
    display: flex;
    flex-direction: column;
    min-height: fit-content;

}

.page{
    min-height: 100vh;
    min-width: 90vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.isLinkActive{
    border: 1px solid #c41816 ;
    border-radius: 10px;
}
div{
    border-radius: 10px;
}
button{
    cursor: pointer;
    font-weight: 900;
}
img{
    cursor: pointer;
}