<div class="page" id="calculator_cont">
  <ul id="nav">
    <li>
      <a routerLinkActive="isLinkActive" routerLink="calculator">calculator</a>
    </li>
    <li>
      <a routerLinkActive="isLinkActive" routerLink="blogSite">blogSite</a>
    </li>
    <li>
      <a routerLinkActive="isLinkActive" routerLink="eCommerceApp"
        >eCommerceApp</a
      >
    </li>
    <li>
      <a routerLinkActive="isLinkActive" routerLink="toDoApp"
        >toDoApp</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
