nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw;
    width: 90%;
    border-bottom: 1px solid white;
    margin: 0 auto;
}
nav #logo{
    height: 50px;
    width: 50px;
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
nav ul a{
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;

}

